.nav {
  list-style: none;
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  text-transform: capitalize;

  &__item {
    position: relative;
  }

  &__link {
    &,
    &:link,
    &:visited {
      display: block;
      padding: 2px 12px;
      color: inherit;
      transition: all 0.5s;

      &::before,
      &::after {
        content: '';
        position: absolute;
        transition: inherit;
      }
    }
  }
}

/* Nav-1 */

.nav-1 {
  .nav__link {
    // Lines
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 1.5px;
      background-color: var(--color-text);
    }

    // Top Line
    &::before {
      top: 0;
      left: 0;
    }

    // Bottom Line
    &::after {
      bottom: 0;
      right: 0;
    }

    // On Hover
    &:hover {
      &::before,
      &::after {
        width: 100%;
      }

      &::before {
        right: auto;
        left: 0;
      }

      &::after {
        left: auto;
        right: 0;
      }
    }
  }
}

// Nav-2

.nav-2 {
  .nav__link {
    // Lines
    &::before,
    &::after {
      width: 0;
      height: 1.5px;
      background-color: var(--color-text);
    }

    // Top Line | After hover it should move to right
    &::before {
      top: 0;
      right: 0;
    }

    // Bottom Line | After hover it should move to left
    &::after {
      bottom: 0;
      left: 0;
    }

    // On Hover
    &:hover {
      &::before,
      &::after {
        width: 100%;
      }

      // On hover it should move from left to right
      &::before {
        left: 0;
        right: auto;
      }

      // On hover it should move from right to left
      &::after {
        right: 0;
        left: auto;
      }
    }
  }
}

// Nav-3

.nav-3 {
  gap: 40px;
  .nav__link {
    padding: 0;

    // Lines
    &::before {
      width: 0;
      height: 1.5px;
      background-color: var(--color-text);
      bottom: 0;
      // Bottom Line | After hover it should move to right
      right: 0;
    }

    // On Hover
    &:hover {
      &::before {
        width: 100%;
        // On hover it should move from left to right
        left: 0;
        right: auto;
      }
    }
  }
}

// Nav-4

.nav-4 {
  .nav__item {
    text-transform: uppercase;
  }

  .nav__link {
    // padding: 3px 20px;
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 12px;
      height: 12px;
      border: solid var(--color-accent);
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s;
    }

    &::before {
      bottom: 0;
      left: 0;
      // Border bottom and left
      border-width: 0 0 2.5px 2.5px;
    }

    &::after {
      top: 0;
      right: 0;

      // Border top and right
      border-width: 2.5px 2.5px 0 0;
    }

    &:hover {
      background-color: var(--color-accent);
      color: var(--color-light);
      &::before,
      &::after {
        opacity: 1;
        visibility: visible;
      }

      &::before {
        bottom: -7px;
        left: -7px;
      }

      &::after {
        top: -7px;
        right: -7px;
      }
    }
  }
}

// Nav-5
%box {
  content: '';
  position: absolute;
  width: 25%;
  top: 0;
  height: 0;
  background: var(--color-accent);
  transition: all 0.5s;
  z-index: -1;
}

.nav-5 {
  .nav__item {
    // First two box
    &::before,
    &::after {
      @extend %box;
    }

    &::before {
      left: 0;
    }

    &::after {
      left: 25%;
      transition-delay: 0.15s;
    }

    &:hover {
      color: var(--color-light);

      &::before,
      &::after {
        height: 100%;
      }

      .nav__link {
        &::before,
        &::after {
          height: 100%;
        }
      }
    }
  }

  .nav__link {
    padding: 5px 30px;

    // Last two box
    &::before,
    &::after {
      @extend %box;
    }

    &::before {
      right: 25%;
      transition-delay: 0.3s;
    }

    &::after {
      right: 0;
      transition-delay: 0.45s;
    }
  }
}

// Nav-6

%bar {
  content: '';
  position: absolute;
  width: 100%;
  height: 0;
  left: 0;
  top: 0;
  background: var(--color-accent);
  transition: all 0.5s;
  z-index: -1;
}

.nav-6 {
  .nav__item {
    // First two bar
    &::before,
    &::after {
      @extend %bar;
    }

    &::before {
      top: 0;
    }

    &::after {
      top: 25%;
      transition-delay: 0.15s;
    }

    &:hover {
      color: var(--color-light);

      &::before,
      &::after {
        height: 25%;
      }

      .nav__link {
        &::before,
        &::after {
          height: 25%;
        }
      }
    }
  }

  .nav__link {
    padding: 5px 30px;

    // Last two bar
    &::before,
    &::after {
      @extend %bar;
    }

    &::before {
      top: 50%;
      transition-delay: 0.3s;
    }

    &::after {
      top: 75%;
      transition-delay: 0.45s;
    }
  }
}

// Nav-7

.nav-7 {
  text-transform: uppercase;
  .nav__link {
    &::before,
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      height: 3px;
      width: 0;
      transition: all 0.5s;
    }

    &::before {
      left: 100%;
      background-color: #d946ef;
    }

    &::after {
      right: 100%;
      background-color: #2dd4bf;
    }

    &:is(:hover, :focus) {
      &::before,
      &::after {
        width: 50%;
      }

      &::before {
        left: 0;
      }
      &::after {
        right: 0;
      }
    }
  }
}

// Nav-8

.nav-8 {
  .nav__item {
    overflow: hidden;
  }

  .nav__link {
    padding: 5px 12px;

    // Movable BG
    &::before {
      content: '';
      position: absolute;
      right: 0;
      left: auto;
      top: 0;
      width: 0%;
      height: 100%;
      background-color: var(--color-accent);
      z-index: -1;
      transition: all 0.5s;
    }

    // Text
    &::after {
      content: attr(data-text);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateY(120%);
      transition: all 0.5s;
      transition-delay: 0.5s;
    }

    span {
      display: inline-block;
      transition: all 0.5s;
      transition-delay: 0.5s;
    }

    &:is(:hover, :focus) {
      span {
        transform: translateY(-120%);
        transition-delay: 0s;
      }

      &::after {
        transform: translateY(0);
        transition-delay: 0s;
      }

      &::before {
        width: 100%;
        left: 0;
        right: auto;
        transition-delay: 0.5s;
      }
    }
  }
}

// Nav-9

.nav-9 {
  text-transform: uppercase;
  font-weight: bold;

  .nav__link {
    &::before {
      background: var(--color-text);
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: -1;

      scale: 0;
      opacity: 0;
    }

    &::after {
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      transform: scaleY(2);
      background-color: transparent;
      border-top: 1.5px solid var(--color-text);
      border-bottom: 1.5px solid var(--color-text);
      transition: all 0.5s;
      opacity: 0;
    }

    &:hover {
      color: var(--color-light);
      &::before,
      &::after {
        opacity: 1;
      }

      &::after {
        transform: scaleY(1.3);
      }

      &::before {
        scale: 1;
        opacity: 1;
      }
    }
  }
}

// Nav-10

.nav-10 {
  background-color: var(--color-text);
  padding: 5rem 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 5rem;

  .nav__link {
    &,
    &:link,
    &:visited {
      color: transparent;
      text-transform: capitalize;
      font-size: 6rem;
      font-weight: bold;
      -webkit-text-stroke: 1px var(--color-light);
    }

    &::before {
      content: attr(data-text);
      top: 0;
      left: 10px;
      height: 100%;
      width: 100%;
      color: #d946ef;
      z-index: -1;
    }

    &::after {
      content: attr(data-text);
      top: 0;
      left: 10px;
      height: 100%;
      width: 100%;
      color: #2dd4bf;
      z-index: -1;
    }

    &:hover {
      &::before {
        z-index: 1;
        -webkit-text-stroke-color: black;
        transform: translate(5px, -5px);
      }

      &::after {
        z-index: 1;
        -webkit-text-stroke-color: black;
        transform: translate(10px, -10px);
      }
    }
  }
}
